@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@400;500;600&display=swap");

html::-webkit-scrollbar {
  display: none;
}

html {
  scrollbar-width: none;
}

html,
body {
  position: relative;
  margin: 0;
  font-family: "Manrope", sans-serif;
  background-color: #fff;
  font-size: 14px;
  margin: 0 auto;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 1184px;
  height: 100%;
  margin: 0 auto;
}

a,
h1,
h2,
h3,
h4,
p {
  margin: 0px;
}

ul,
li {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
  padding: 0;
  margin: 0;
}

img {
  display: block;
  width: 100%;
  max-width: 100%;
  object-fit: cover;
  object-position: center center;
}

button {
  background-color: transparent;
  border: 0;
  padding: 0;
}

svg {
  display: block;
}
