@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@400;500;600&display=swap");

html,
body {
  position: relative;
  margin: 0;
  font-family: "Manrope", sans-serif;
  background-color: #fff;
  font-size: 14px;
  margin: 0 auto;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
